<div class="w-full h-full px-6 py-4 flex flex-col">
    <!-- Header -->
    <div class="flex items-center justify-between mb-4 border-b pb-2">
        <h1 class="text-2xl font-semibold text-gray-800">{{title}}</h1>
        <button onclick="handleAddStudentModal()"
            class="bg-[#F0BD66] text-white flex items-center font-medium px-5 py-2 rounded-3xl focus:shadow-sm hover:shadow-md transition">


            Add
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="size-5 stroke-white stroke-[1] ml-2">
                <path
                    d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
            </svg>
        </button>
    </div>

    <!-- Page Content -->
    <div class=" flex-1  flex flex-col  ">
        <div id="studentManagementGrid" data-courses='{{{json courses}}}' data-students='{{{ json students }}}'
            class="ag-theme-alpine h-full"></div>
    </div>

    {{!-- Modals --}}
    <div id="addStudentModal"
        class="fixed hidden inset-0 bg-black bg-opacity-50 flex items-center justify-center  z-50">

        <div class=" mt-0  ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
            <div class="bg-white border border-gray-200 rounded-xl shadow-2xs pointer-events-auto">
                <form onsubmit="handleSaveStudent(event)">
                    <div class="p-4 sm:p-7">
                        <div class="text-center">
                            <h3 class="block text-xl sm:text-2xl font-semibold text-gray-800">Enroll new student</h3>
                            <div class="max-w-sm mx-auto">
                                <p id="modalDescription" class="mt-2 text-sm text-gray-600">
                                    Fill the form to register a new student in the course.
                                </p>
                            </div>

                        </div>

                        <div class="mt-8 sm:mt-10 ">



                            <div class="md-3 flex-1">
                                <label for="courseUuid" class="block mb-2.5 text-sm font-medium text-heading">Course
                                    Code</label>
                                <select id="courseUuid" name="courseUuid"
                                    class="py-2.5 sm:py-3 px-4  block w-full border border-gray-200 rounded-lg sm:text-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 disabled:opacity-50 disabled:pointer-events-none "
                                    required>
                                    <option value="" selected disabled>Choose course</option>
                                    {{#each courses}}
                                    <option value="{{this._id}}">{{this.course_id}} — {{this.course_name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="mb-3 mt-3 flex-1">
                                <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Student
                                    Email</label>
                                <input type="email" id="email" name="email"
                                    class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500 disabled:opacity-50 disabled:pointer-events-none "
                                    placeholder="johnsnow@noname.com" required />
                            </div>

                            <div class="md-3 flex-1">
                                <label for="is_ta" class="block mb-2.5 text-sm font-medium text-heading">
                                    Role
                                </label>

                                <select id="is_ta" name="is_ta"
                                    class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:outline-none focus:border-yellow-500 focus:ring-yellow-500"
                                    required>

                                    <option value="" selected disabled>Choose role</option>
                                    <option value="false">Student</option>
                                    <option value="true">Teaching Assistant</option>
                                </select>
                            </div>






                        </div>
                    </div>


                    <div class="flex justify-end items-center gap-x-2 p-4 sm:px-7 border-t border-gray-200">
                        <button onclick="handleAddStudentModal()" type="button"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50"
                            data-hs-overlay="#hs-notifications">
                            Cancel
                        </button>
                        <button type="submit"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-[#F0BD66] text-white hover:bg-yellow-500 focus:outline-hidden focus:bg-[#F0AC66] disabled:opacity-50 disabled:pointer-events-none">
                            Save
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <script src="/public/js/studentManagement.js"></script>
</div>